<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Delta Group</title>
    <style>
        .contact-info a:hover {

            text-decoration: underline !important;
        }
    </style>
    <style>
        .sub-menu li .email {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            width: 100%; /* Ensure the email spans take up the full width */
        }
        .blurry-header {
            position: relative;
            overflow: hidden;
        }

        .header-content {
            position: relative;
            padding: 20px;
            color: blue; /* Set the text color to blue */
            background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
            backdrop-filter: blur(2px); /* Adjust the blur radius as needed */
        }

        .header-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: inherit;
            filter: blur(2px);
            opacity: 0.3; /* Adjust the opacity value as needed */
            z-index: -1;
        }
    </style>
    <!-- Stylesheets -->
    <!-- bootstrap v3.3.6 css -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <!-- font-awesome css -->
    <link href="../../static/css/font-awesome.css" rel="stylesheet">
    <!-- flaticon css -->
    <link href="../../static/css/flaticon.css" rel="stylesheet">
    <!-- factoryplus-icons css -->
    <link href="../../static/css/factoryplus-icons.css" rel="stylesheet">
    <!-- animate css -->
    <link href="../../static/css/animate.css" rel="stylesheet">
    <!-- owl.carousel css -->
    <link href="../../static/css/owl.css" rel="stylesheet">
    <!-- fancybox css -->
    <link href="../../static/css/jquery.fancybox.css" rel="stylesheet">
    <link href="../../static/css/hover.css" rel="stylesheet">
    <link href="../../static/css/frontend.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
    <!-- switcher css -->
    <link href="../../static/css/switcher.css" rel="stylesheet">
    <link rel='stylesheet' id='factoryhub-color-switcher-css' href='../../static/css/switcher/default.css' />
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/settings.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/layers.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/navigation.css">

    <!--Favicon-->
<!--    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">-->
<!--    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">-->
    <link rel="icon" type="image/png" href="../../static/images/icon/maker1.png">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="../static/js/respond.js"></script><![endif]-->
</head>

<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">
    <div id="page">

        <!-- topbar -->
        <div id="topbar" class="topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="topbar-left topbar-widgets">
                            <div class="current-date-time">
                                <i class="fa fa-clock-o yellow-icon" aria-hidden="true"></i>
                                <a href="https://www.timeanddate.com/worldclock/" target="_blank">
                                    <span id="current-date" class="white-text"></span>
                                    <span id="current-time" class="white-text"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 text-center">
                        <div class="topbar-center topbar-widgets">
                            <div id="cargo-office-location-widget-2" class="widget cargo-office-location-widget">
                                <div class="office-location clearfix">
                                    <div id="tab-1" class="tab-content">
                                        <ul class="topbar-office text-center">
                                            <li>
                                                <i class="flaticon-telephone" aria-hidden="true"></i> Phone +35929202137
                                                <span class="space"></span>
                                                <i class="flaticon-web" aria-hidden="true"></i> <a
                                                    href="mailto:info@deltagroup.bg" style="color: inherit;">info@deltagroup.bg</a>
                                                <span class="space"></span>
                                                <i class="flaticon-pin" aria-hidden="true"></i> 48-A, Suhodolska Str.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="topbar-right topbar-widgets text-right" id="weather-info">
                            <div class="current-weather">
                                <i class="fa fa-sun-o yellow-icon" aria-hidden="true"></i>
                                <a href="https://www.timeanddate.com/weather/" target="_blank">
                                    <span id="current-weather" class="white-text"></span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-1">
                        <div class="language-switcher">
                            <a href="../bg/cargo-tracking.html" class="language-option" data-lang="bg">
                                <img src="../../static/images/resources/bg-flag.png" alt="Bulgarian" width="16" height="16" />
                            </a>
                            <a href="#" class="language-option" data-lang="en" style="display: none;">
                                <img src="../../static/images/resources/en-flag.png" alt="English" width="16" height="16" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- masthead -->

        <!--Page Header-->
        <div class="page-header title-area blurry-header">
            <div class="header-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="header-content">
                                <div class="header-overlay"></div>
                                <h1 class="page-title" style="color: blue;">Cargo Tracking</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                            <nav class="breadcrumb">
                                <a class="home" href="index.html"><span>Home</span></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Cargo Tracking</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Page Header end-->

        <!--FCL / LCL Ocean Freight & NVOCC-->
        <section class="aboutsec-2 secpaddbig">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-6">
                        <div class="abotinforgt">
                            <div class="fh-section-title clearfix text-left version-dark paddbtm30">
                                <h2>Cargo Tracking</h2>
                            </div>
                            <div class="about-text">
                                <p>Delta Transport Ltd., provides a special service to monitor and coordinate your
                                    traffic movements from the place of acceptance throughout the world up to your
                                    door in Bulgaria, or elsewhere. Using computerized systems for monitoring the
                                    cargo status we send to our customers upon request Cargo Tracking Information
                                    Reports. We know that such a services enabling you to benefit from the savings
                                    made. Our policy is to provide the service you need to make your business even more
                                    successful.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About us end-->

        <!-- Feature sec -->
<!--        <section class="features-3 bluebg">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-4">-->
<!--                        <div class="fh-feature-box "><span class="chars">M</span>-->
<!--                            <h4 class="box-title">Our Mission</h4>-->
<!--                            <div class="desc">We meet our customers’ demands for a personal &amp; profesional service by offering innovative supply chain solutions.</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-4">-->
<!--                        <div class="fh-feature-box "><span class="chars">V</span>-->
<!--                            <h4 class="box-title">Our Vision</h4>-->
<!--                            <div class="desc">We proactively and constantly look for new possibilities. Therefore, an important part of our vision is to attract &amp; retain.</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-4">-->
<!--                        <div class="fh-feature-box "><span class="chars">C</span>-->
<!--                            <h4 class="box-title">Core Values</h4>-->
<!--                            <div class="desc">Procedures, values and attitudes are crucial to our reputation – not to mention the success we enjoy.</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- Feature sec end -->

        <!-- featured sec -->
<!--        <section class="whychoos-3 secpadd">-->
<!--            <div class="container">-->
<!--                <div class="fh-section-title clearfix text-center version-dark paddbtm30">-->
<!--                    <h2>Why Choose Us</h2>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-3 col-sm-6">-->
<!--                        <div class="fh-icon-box style-2 version-dark icon-center">-->
<!--                            <span class="fh-icon"><i class="flaticon-people"></i></span>-->
<!--                            <h4 class="box-title"><span>Global Supply Chain</span></h4>-->
<!--                            <div class="desc">-->
<!--                                <p>Efficiently unleash cross-media information without cross-media value.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6">-->
<!--                        <div class="fh-icon-box style-2 version-dark icon-center">-->
<!--                            <span class="fh-icon"><i class="flaticon-route"></i></span>-->
<!--                            <h4 class="box-title"><span>Shipment Tracking</span></h4>-->
<!--                            <div class="desc">-->
<!--                                <p>We offer intelligent concepts for road & tail as well as complex special services.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6">-->
<!--                        <div class="fh-icon-box style-2 version-dark icon-center">-->
<!--                            <span class="fh-icon"><i class="flaticon-open-cardboard-box"></i></span>-->
<!--                            <h4 class="box-title"><span>Careful Handling</span></h4>-->
<!--                            <div class="desc">-->
<!--                                <p>Cargo HUB items are transported at some stage of their journey along the world's roads.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6">-->
<!--                        <div class="fh-icon-box style-2 version-dark icon-center">-->
<!--                            <span class="fh-icon"><i class="flaticon-alarm-clock"></i></span>-->
<!--                            <h4 class="box-title"><span>On Time Delivery</span></h4>-->
<!--                            <div class="desc">-->
<!--                                <p>We offer intelligent concepts for road & tail as well as complex special services.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- featured sec end -->


        <!--footer sec-->
    <div class="footer-widgets widgets-area">
        <div class="contact-widget">
            <div class="container">
                <div class="row">
                    <div class="contact col-md-4 col-xs-12 col-sm-12">
                        <i class="flaticon-signs"></i>
                        <p>Address: Sofia, Bulgaria</p>
                        <h4>48-A, Suhodolska Str.</h4>
                    </div>
                    <div class="contact col-md-4 col-xs-12 col-sm-12">
                        <i class="flaticon-phone-call"></i>
                        <p>Number:</p>
                        <h4>+359 2 9202137</h4>
                    </div>
                    <div class="contact col-md-4 col-xs-12 col-sm-12">
                        <i class="flaticon-clock-1"></i>
                        <p>Opening Hours:</p>
                        <h4>Mon – Fri: 8:30 – 17:00</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-sidebars">
            <div class="container">
                <div class="row">
                    <div class="footer-sidebar footer-1 col-xs-12 col-sm-6 col-md-3">
                        <div class="widget widget_text">
                            <h4 class="widget-title">About Delta Group</h4>
                            <div class="textwidget">
                                <p>Delta Transport Ltd., was founded in 1996 as an International Freight Forwarder.
                                    Delta Shipping Ltd., was founded in 1999 as a Container Transport Operator with a
                                    fleet of own trucks and trailers, specialized in container transport worldwide.
                                    Delta Transport Ltd., is the owner of the registered trademark Delta Group ®.</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-sidebar footer-2 col-xs-12 col-sm-6 col-md-3">
                        <div class="widget widget_contact_info">
                            <h4 class="widget-title">Phones</h4>
                            <div class="contact-info">
                                <i class="fa fa-phone"></i> +359 2 9202137<br>
                                <i class="fa fa-phone"></i> +359 2 9631223<br>
                                <i class="fa fa-phone"></i> +359 2 9634369<br>
                                <i class="fa fa-fax"></i> Fax: +359 2 9202138
                            </div>
                            <h4 class="widget-title"></h4>
                            <div class="contact-info">
                                <a href="https://deltagroup.bg/" target="_blank"
                                   style="color: #fff; text-decoration: none;">www.delta-transport.eu</a><br>
                                <a href="https://deltagroup.bg/" target="_blank"
                                   style="color: #fff; text-decoration: none;">www.deltagroup.bg</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-sidebar footer-3 col-xs-12 col-sm-6 col-md-6">
                        <div class="widget widget_contact_info">
                            <h4 class="widget-title">Emails:</h4>
                            <div class="contact-info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <i class="fa fa-envelope"></i> <a href="mailto:info@deltagroup.bg" style="color: #fff;">info@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:sales@deltagroup.bg" style="color: #fff;">sales@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:export@deltagroup.bg" style="color: #fff;">export@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:import@deltagroup.bg" style="color: #fff;">import@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:terminal@deltagroup.bg" style="color: #fff;">terminal@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:account@deltagroup.bg" style="color: #fff;">account@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:documentation@deltagroup.bg" style="color: #fff;">documentation@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:trucks@delta-transport.eu" style="color: #fff;">trucks@delta-transport.eu</a>
                                    </div>
                                    <div class="col-md-6">
                                        <i class="fa fa-envelope"></i> <a href="mailto:info@delta-transport.eu" style="color: #fff;">info@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:sales@delta-transport.eu" style="color: #fff;">sales@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:export@delta-transport.eu" style="color: #fff;">export@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:import@delta-transport.eu" style="color: #fff;">import@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:terminal@delta-transport.eu" style="color: #fff;">terminal@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:account@delta-transport.eu" style="color: #fff;">account@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:documentation@delta-transport.eu" style="color: #fff;">documentation@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:trucks@deltagroup.bg" style="color: #fff;">trucks@delta-transport.eu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--footer sec end-->

        <!--copyright sec-->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="footer-copyright col-md-6 col-sm-12 col-sx-12">
                        <div class="site-info">Copyright @ 2023 <a href="#">Delta Group</a>, All Right Reserved</div>
                    </div>
                </div>
            </div>
        </footer>
        <!--copyright sec end-->
    </div>
    <!--End pagewrapper-->


    <!--primary-mobile-nav-->
    <div class="primary-mobile-nav header-v1" id="primary-mobile-nav" role="navigation">
        <a href="#" class="close-canvas-mobile-panel">×</a>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li class="menu-item-has-children">
                <a href="#">Transport Services</a>
                <ul class="sub-menu">
                    <li><a href="terminal-delta.html">Port Terminal Operations Container Terminal Delta</a></li>
                    <li><a href="ocean-freight-forwarding.html">FCL / LCL Ocean Freight & NVOCC</a></li>
                    <li><a href="inland-transport.html">Inland Transport</a></li>
                    <li><a href="warehousing.html">Customs clearance & warehousing</a></li>
                    <li><a href="insurance.html">Insurance</a></li>
                    <li><a href="cargo-tracking.html">Cargo Tracking</a></li>
                </ul>
            </li>
            <li><a href="about-us.html">Who we are</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li class="extra-menu-item menu-item-button-link">
                <a href="request-a-quote.html" class="fh-btn btn">Get A Quote</a>
            </li>
            <li class="language-switcher">
                <a href="../bg/cargo-tracking.html" class="language-option" data-lang="bg">
                    <img src="../../static/images/resources/bg-flag.png" alt="Bulgarian" width="16" height="16" />
                </a>
                <a href="#" class="language-option" data-lang="en" style="display: none;">
                    <img src="../../static/images/resources/en-flag.png" alt="English" width="16" height="16" />
                </a>
            </li>
        </ul>
    </div>
    <div id="off-canvas-layer" class="off-canvas-layer"></div>
    <!--primary-mobile-nav end-->

    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>



    <!-- jquery Liabrary -->
    <script src="../../static/js/jquery-1.12.4.min.js"></script>
    <!-- bootstrap v3.3.6 js -->
    <script src="../../static/js/bootstrap.min.js"></script>
    <!-- fancybox js -->
    <script src="../../static/js/jquery.fancybox.pack.js"></script>
    <script src="../../static/js/jquery.fancybox-media.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <!-- owl.carousel js -->
    <script src="../../static/js/owl.js"></script>
    <!-- counter js -->
    <script src="../../static/js/jquery.appear.js"></script>
    <script src="../../static/js/jquery.countTo.js"></script>
    <!-- validate js -->
    <script src="../../static/js/validate.js"></script>
    <!-- switcher js -->
    <script src="../../static/js/switcher.js"></script>

    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="../../static/js/gmap.js"></script>
    <script src="../../static/js/map-helper.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="../../static/js/revolution/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.video.min.js"></script>

    <!-- script JS  -->
    <script src="../../static/js/scripts.min.js"></script>
    <script src="../../static/js/script.js"></script>
    <script>
        function getCurrentDateTime() {
            const currentDateElement = document.getElementById('current-date');
            const currentTimeElement = document.getElementById('current-time');

            const currentDate = new Date();
            const currentDay = currentDate.getDate().toString().padStart(2, '0');
            const currentMonth = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
            const currentYear = currentDate.getFullYear().toString();
            const formattedDate = `${currentDay}.${currentMonth}.${currentYear}`;
            currentDateElement.textContent = formattedDate;

            const currentHours = currentDate.getHours().toString().padStart(2, '0');
            const currentMinutes = currentDate.getMinutes().toString().padStart(2, '0');
            const currentTime = `${currentHours}:${currentMinutes}`;
            currentTimeElement.textContent = currentTime;
        }

        async function getWeatherData() {
            const url = 'https://weatherapi-com.p.rapidapi.com/current.json?q=Sofia';
            const options = {
                method: 'GET',
                headers: {
                    'X-RapidAPI-Key': '410c32cad3msh3f4e7db0d8d7fcap12cc72jsn8f865181d51d',
                    'X-RapidAPI-Host': 'weatherapi-com.p.rapidapi.com'
                }
            };

            try {
                const response = await fetch(url, options);
                const data = await response.json();
                const weatherInfoElement = document.getElementById('current-weather');
                weatherInfoElement.innerHTML = `${data.current.temp_c}°C`;
            } catch (error) {
                console.error(error);
            }
        }

        function updateClock() {
            getCurrentDateTime();
            getWeatherData();
        }

        getCurrentDateTime();
        getWeatherData();
        setInterval(updateClock, 30000); // Update the clock every second (1000 milliseconds)
    </script>

</body>

</html>