<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!--    <style>-->
    <!--        .count-title {-->
    <!--            color: #ff0006 !important; /* Change the color to your desired value */-->
    <!--        }-->
    <!--    </style>-->

    <style>

        .sub-menu li .email {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            width: 100%; /* Ensure the email spans take up the full width */
        }

        .welservices.row {
            justify-content: center;
        }

        .welservices .col-md-4 {
            display: flex;
            justify-content: center;
        }

        .footer-widgets {
            position: relative;
            overflow: hidden;
        }

        .footer-widgets::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /*background-image: url(../static/images/bg/footer-bg.jpg); !* Replace with the actual path to your image *!*/
            background-size: cover;
            filter: blur(50px); /* Adjust the blur strength as needed */
            z-index: -1;
        }

        .footer-widgets::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 255, 0.5); /* Adjust the color and opacity as needed */
            z-index: -1;
        }
    </style>
<!--    <style>-->
<!--        .language-option {-->
<!--            display: none;-->
<!--        }-->

<!--        .language-option.active {-->
<!--            display: inline-block;-->
<!--        }-->
<!--    </style>-->

    <meta charset="utf-8">
    <title>Delta Group</title>
    <!-- Stylesheets -->
    <!-- bootstrap v3.3.6 css -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <!-- font-awesome css -->
    <link href="../../static/css/font-awesome.css" rel="stylesheet">
    <!-- flaticon css -->
    <link href="../../static/css/flaticon.css" rel="stylesheet">
    <!-- factoryplus-icons css -->
    <link href="../../static/css/factoryplus-icons.css" rel="stylesheet">
    <!-- animate css -->
    <link href="../../static/css/animate.css" rel="stylesheet">
    <!-- owl.carousel css -->
    <link href="../../static/css/owl.css" rel="stylesheet">
    <!-- fancybox css -->
    <link href="../../static/css/jquery.fancybox.css" rel="stylesheet">
    <link href="../../static/css/hover.css" rel="stylesheet">
    <link href="../../static/css/frontend.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- switcher css -->
    <link href="../../static/css/switcher.css" rel="stylesheet">
    <link rel='stylesheet' id='factoryhub-color-switcher-css' />
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/settings.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/layers.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/navigation.css">

    <!--Favicon-->
    <!--    <link rel="shortcut icon" href="../static/images/maker1.png" type="image/x-icon">-->
    <!--    <link rel="icon" href="../static/images/maker1.png" type="image/x-icon">-->
    <link rel="icon" type="image/png" href="../../static/images/icon/maker1.png">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="../static/js/respond.js"></script><![endif]-->


</head>

<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">
<div id="page">


    <!-- topbar -->
    <div id="topbar" class="topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="topbar-left topbar-widgets">
                        <div class="current-date-time">
                            <i class="fa fa-clock-o yellow-icon" aria-hidden="true"></i>
                            <a href="https://www.timeanddate.com/worldclock/" target="_blank">
                                <span id="current-date" class="white-text"></span>
                                <span id="current-time" class="white-text"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 text-center">
                    <div class="topbar-center topbar-widgets">
                        <div id="cargo-office-location-widget-2" class="widget cargo-office-location-widget">
                            <div class="office-location clearfix">
                                <div id="tab-1" class="tab-content">
                                    <ul class="topbar-office text-center">
                                        <li>
                                            <i class="flaticon-telephone" aria-hidden="true"></i> Phone +35929202137
                                            <span class="space"></span>
                                            <i class="flaticon-web" aria-hidden="true"></i> <a
                                                href="mailto:info@deltagroup.bg" style="color: inherit;">info@deltagroup.bg</a>
                                            <span class="space"></span>
                                            <i class="flaticon-pin" aria-hidden="true"></i> 48-A, Suhodolska Str.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="topbar-right topbar-widgets text-right" id="weather-info">
                        <div class="current-weather">
                            <i class="fa fa-sun-o yellow-icon" aria-hidden="true"></i>
                            <a href="https://www.timeanddate.com/weather/" target="_blank">
                                <span id="current-weather" class="white-text"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-1">
                    <div class="language-switcher">
                        <a href="../bg/index.html" class="language-option" data-lang="bg">
                            <img src="../../static/images/resources/bg-flag.png" alt="Bulgarian" width="16" height="16" />
                        </a>
                        <a href="#" class="language-option" data-lang="en" style="display: none;">
                            <img src="../../static/images/resources/en-flag.png" alt="English" width="16" height="16" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- topbar end -->


<!-- masthead -->
<header id="masthead" class="site-header clearfix">
    <div class="header-main clearfix">
        <div class="container mobile_relative">
            <div class="row">
                <div class="site-logo col-md-3 col-sm-6 col-xs-6"></div>
                <div class="col-md-9 col-sm-6 col-xs-6">
                    <div class="site-menu text-right"> <!-- Updated class: text-right -->
                        <nav id="site-navigation" class="main-nav primary-nav nav">
                            <ul class="menu">
                                <li class="extra-menu-item menu-item-button-link">
                                    <a href="request-a-quote.html" class="fh-btn btn">Get A Quote</a>
                                </li>
                                <li><a href="index.html">Home</a></li>
                                <li class="has-children">
                                    <a href="" class="dropdown-toggle">Transport Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="terminal-delta.html">Port Terminal Operations Container Terminal
                                            Delta</a></li>
                                        <li><a href="ocean-freight-forwarding.html">FCL / LCL Ocean Freight & NVOCC</a>
                                        </li>
                                        <li><a href="inland-transport.html">Inland Transport</a></li>
                                        <li><a href="warehousing.html">Customs clearance & warehousing</a></li>
                                        <li><a href="insurance.html">Insurance</a></li>
                                        <li><a href="cargo-tracking.html">Cargo Tracking</a></li>
                                        <li class="has-children">
                                            <a class="dropdown-toggle">Contact</a>
                                            <ul class="sub-menu side-dropdown" style="margin-top: -100%;">
                                                <li>
                                                    <span>Phones:</span><br>
                                                    <span>+359 2 9202137</span><br>
                                                    <span>+359 2 9631223</span><br>
                                                    <span>+359 2 9634369</span><br>
                                                    <span>Fax: +359 2 9202138</span>
                                                </li>
                                                <li>
                                                    <span>Emails:</span><br>
                                                    <span class="email">info@deltagroup.bg</span><br>
                                                    <span class="email">sales@deltagroup.bg</span><br>
                                                    <span class="email">export@deltagroup.bg</span><br>
                                                    <span class="email">import@deltagroup.bg</span><br>
                                                    <span class="email">terminal@deltagroup.bg</span><br>
                                                    <span class="email">account@deltagroup.bg</span><br>
                                                    <span class="email">documentation@deltagroup.bg</span><br>
                                                    <span class="email">trucks@deltagroup.bg</span>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li><a href="about-us.html">Who we are</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <a href="#" class="navbar-toggle" id="navbarToggle">
                <span class="navbar-icon">
                    <span class="navbars-line"></span>
                </span>
            </a>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var parentMenuItems = document.querySelectorAll(".menu-item-has-children");

            parentMenuItems.forEach(function (item) {
                item.addEventListener("click", function (e) {
                    e.preventDefault();
                    this.classList.toggle("active");
                    var subMenu = this.querySelector(".sub-menu");
                    subMenu.classList.toggle("active");
                });

                var subMenuItems = item.querySelectorAll(".sub-menu li a");
                subMenuItems.forEach(function (subMenuItem) {
                    subMenuItem.addEventListener("click", function (e) {
                        // Remove the following line if you want the sub-menu to collapse after clicking a sub-menu item
                        e.preventDefault();

                        // Retrieve the href attribute of the clicked sub-menu item
                        var href = this.getAttribute("href");

                        // Navigate to the specified page
                        window.location.href = href;
                    });
                });
            });

            var navbarToggle = document.querySelector("#navbarToggle");
            var mobileNav = document.querySelector("#primary-mobile-nav");
            var offCanvasLayer = document.querySelector("#off-canvas-layer");
            var closeCanvasMobilePanel = document.querySelector(".close-canvas-mobile-panel");

            navbarToggle.addEventListener("click", function (e) {
                e.preventDefault();
                mobileNav.classList.toggle("active");
                offCanvasLayer.classList.toggle("active");
            });

            closeCanvasMobilePanel.addEventListener("click", function (e) {
                e.preventDefault();
                mobileNav.classList.remove("active");
                offCanvasLayer.classList.remove("active");
            });
        });
    </script>

</header>


<!-- masthead end -->

<!--Main Slider-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <!-- SLIDE  -->
            <li class="slide" data-index="rs-1">
                <img src="https://imgur.com/mwASp4z.jpg"
                     data-src="https://imgur.com/mwASp4z.jpg"
                     alt="Home Page 1" class="slide-bg lazyload">
                <div class="slide-content">
                    <div class="title">Welcome to Delta Group</div>
                </div>
            </li>
            <!-- SLIDE  -->
            <li class="slide" data-index="rs-1">
                <img src="https://imgur.com/5nfaXQz.jpg"
                     data-src="https://imgur.com/5nfaXQz.jpg"
                     alt="Home Page 2" class="slide-bg lazyload">
                <div class="slide-content">
                    <div class="title">Welcome to Delta Group</div>
                </div>
            </li>
            <!-- SLIDE  -->
            <li class="slide" data-index="rs-1">
                <img src="https://imgur.com/q1eIHjD.jpg"
                     data-src="https://imgur.com/q1eIHjD.jpg"
                     alt="Home Page 3" class="slide-bg lazyload">
                <div class="slide-content">
                    <div class="title">Welcome to Delta Group</div>
                </div>
            </li>
            <li class="slide" data-index="rs-1">
                <img src="https://imgur.com/EG0PvsS.jpg"
                     data-src="https://imgur.com/EG0PvsS.jpg"
                     alt="Home Page 4" class="slide-bg lazyload">
                <div class="slide-content">
                    <div class="title">Welcome to Delta Group</div>
                </div>
            </li>
            <li class="slide" data-index="rs-1">
                <img src="https://imgur.com/AaV8AFb.jpg"
                     data-src="https://imgur.com/AaV8AFb.jpg"
                     alt="Home Page 5" class="slide-bg lazyload">
                <div class="slide-content">
                    <div class="title">Welcome to Delta Group</div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--Main Slider  end-->



<div class="welcomesec secpadd">
    <div class="container">
        <div class="fh-section-title clearfix text-center version-dark paddbtm20">
            <h2>Welcome to Delta Group</h2>
        </div>
        <div class="welservices row justify-content-center" style="display: flex; justify-content: center;">
            <div class="col-md-4 col-sm-6 text-center">
                <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
                    <span class="fh-icon"><i class="flaticon-transport-4"></i></span>
                    <h4 class="box-title"><a href="#">Ocean Freight Forwarding</a></h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
                    <span class="fh-icon"><i class="flaticon-transport-5"></i></span>
                    <h4 class="box-title"><a href="#">Road Freight Forwarding</a></h4>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Welcome sec   end-->


<!--footer sec-->
<div class="footer-widgets widgets-area">
    <div class="contact-widget">
        <div class="container">
            <div class="row">
                <div class="contact col-md-4 col-xs-12 col-sm-12">
                    <i class="flaticon-signs"></i>
                    <p>Address: Sofia, Bulgaria</p>
                    <h4>48-A, Suhodolska Str.</h4>
                </div>
                <div class="contact col-md-4 col-xs-12 col-sm-12">
                    <i class="flaticon-phone-call"></i>
                    <p>Number:</p>
                    <h4>+359 2 9202137</h4>
                </div>
                <div class="contact col-md-4 col-xs-12 col-sm-12">
                    <i class="flaticon-clock-1"></i>
                    <p>Opening Hours:</p>
                    <h4>Mon – Fri: 8:30 – 17:00</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sidebars">
        <div class="container">
            <div class="row">
                <div class="footer-sidebar footer-1 col-xs-12 col-sm-6 col-md-4">
                    <div class="widget widget_text">
                        <h4 class="widget-title">About Delta Group</h4>
                        <div class="textwidget">
                            <p>Delta Transport Ltd., was founded in 1996 as an International Freight Forwarder.
                                Delta Shipping Ltd., was founded in 1999 as a Container Transport Operator with a
                                fleet of own trucks and trailers, specialized in container transport worldwide.
                                Delta Transport Ltd., is the owner of the registered trade mark Delta Group ®.</p>
                        </div>
                    </div>
                </div>
                <div class="footer-sidebar footer-2 col-xs-12 col-sm-6 col-md-4">
                    <div class="widget widget_contact_info">
                        <h4 class="widget-title">Phones</h4>
                        <div class="contact-info">
                            <i class="fa fa-phone"></i> +359 2 9202137<br>
                            <i class="fa fa-phone"></i> +359 2 9631223<br>
                            <i class="fa fa-phone"></i> +359 2 9634369<br>
                            <i class="fa fa-fax"></i> Fax: +359 2 9202138
                        </div>
                    </div>
                </div>
                <div class="footer-sidebar footer-3 col-xs-12 col-sm-6 col-md-4">
                    <div class="widget widget_contact_info">
                        <h4 class="widget-title">Emails</h4>
                        <div class="contact-info">
                            <i class="fa fa-envelope"></i> <a href="mailto:info@deltagroup.bg" style="color: #fff;">info@deltagroup.bg</a><br>
                            <i class="fa fa-envelope"></i> <a href="mailto:sales@deltagroup.bg" style="color: #fff;">sales@deltagroup.bg</a><br>
                            <i class="fa fa-envelope"></i> <a href="mailto:export@deltagroup.bg" style="color: #fff;">export@deltagroup.bg</a><br>
                            <i class="fa fa-envelope"></i> <a href="mailto:import@deltagroup.bg" style="color: #fff;">import@deltagroup.bg</a><br>
                            <i class="fa fa-envelope"></i> <a href="mailto:terminal@deltagroup.bg" style="color: #fff;">terminal@deltagroup.bg</a><br>
                            <i class="fa fa-envelope"></i> <a href="mailto:account@deltagroup.bg" style="color: #fff;">account@deltagroup.bg</a><br>
                            <i class="fa fa-envelope"></i> <a href="mailto:documentation@deltagroup.bg" style="color: #fff;">documentation@deltagroup.bg</a><br>
                            <i class="fa fa-envelope"></i> <a href="mailto:trucks@deltagroup.bg" style="color: #fff;">trucks@deltagroup.bg</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer sec end-->

<!--copyright sec-->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="footer-copyright col-md-6 col-sm-12 col-sx-12">
                <div class="site-info">Copyright @ 2023 <a href="#">Delta Group</a>, All Right Reserved</div>
            </div>
        </div>
    </div>
</footer>
<!--copyright sec end-->
</div>
<!--End pagewrapper-->


<!--primary-mobile-nav-->
<div class="primary-mobile-nav header-v1" id="primary-mobile-nav" role="navigation">
    <a href="#" class="close-canvas-mobile-panel">×</a>
    <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li class="menu-item-has-children">
            <a href="#">Transport Services</a>
            <ul class="sub-menu">
                <li><a href="terminal-delta.html">Port Terminal Operations Container Terminal Delta</a></li>
                <li><a href="ocean-freight-forwarding.html">FCL / LCL Ocean Freight & NVOCC</a></li>
                <li><a href="inland-transport.html">Inland Transport</a></li>
                <li><a href="warehousing.html">Customs clearance & warehousing</a></li>
                <li><a href="insurance.html">Insurance</a></li>
                <li><a href="cargo-tracking.html">Cargo Tracking</a></li>
            </ul>
        </li>
        <li><a href="about-us.html">Who we are</a></li>
        <li><a href="contact.html">Contact us</a></li>
        <li class="extra-menu-item menu-item-button-link">
            <a href="request-a-quote.html" class="fh-btn btn">Get A Quote</a>
        </li>
        <li class="language-switcher">
            <a href="../bg/index.html" class="language-option" data-lang="bg">
                <img src="../../static/images/resources/bg-flag.png" alt="Bulgarian" width="16" height="16" />
            </a>
            <a href="#" class="language-option" data-lang="en" style="display: none;">
                <img src="../../static/images/resources/en-flag.png" alt="English" width="16" height="16" />
            </a>
        </li>
    </ul>
</div>
<div id="off-canvas-layer" class="off-canvas-layer"></div>

<!--primary-mobile-nav end-->

<!--Scroll to top-->
<a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

<!--Color switcher-->
<div class="predefined_styles" id="styleswitch_area">
    <a href="?default=true" data-rel="default" class="styleswitch"
       style="background:#000080;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>
</div>
<!--<div class="demo_changer" id="demo_changer">-->
<!--    <div class="demo-icon fa fa-sliders"></div>-->
<!--    <div class="form_holder">-->
<!--        <h3 class="demo-title">Customize CargoHub</h3>-->

<!--        <div class="line"></div>-->
<!--        <p>Color Scheme</p>-->
<!--        <div class="predefined_styles" id="styleswitch_area">-->
<!--            <a href="?default=true" data-rel="default" class="styleswitch"-->
<!--               style="background:#000080;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>-->
<!--            <a href="#" data-rel="navy-darkblue" class="styleswitch"-->
<!--               style="background:#00baff;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>-->
<!--            <a href="#" data-rel="orange-black" class="styleswitch"-->
<!--               style="background:#ee6012;border-right-color: #202020;border-bottom-color: #202020"></a>-->
<!--            <a href="#" data-rel="yellow-blue" class="styleswitch"-->
<!--               style="background:#f6a604;border-right-color: #0032ab;border-bottom-color: #0032ab"></a>-->
<!--        </div>-->
<!--        <div class="line"></div>-->
<!--    </div>-->
<!--</div>-->
<!-- jquery Liabrary -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- bootstrap v3.3.6 js -->
<script src="../../static/js/bootstrap.min.js"></script>
<!-- fancybox js -->
<script src="../../static/js/jquery.fancybox.pack.js"></script>
<script src="../../static/js/jquery.fancybox-media.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<!-- owl.carousel js -->
<script src="../../static/js/owl.js"></script>
<!-- counter js -->
<script src="../../static/js/jquery.appear.js"></script>
<script src="../../static/js/jquery.countTo.js"></script>
<!-- validate js -->
<script src="../../static/js/validate.js"></script>
<!-- switcher js -->
<script src="../../static/js/switcher.js"></script>

<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<script src="../../static/js/gmap.js"></script>
<script src="../../static/js/map-helper.js"></script>

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="../../static/js/revolution/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript"
        src="../../static/js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript"
        src="../../static/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript"
        src="../../static/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript"
        src="../../static/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript"
        src="../../static/js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript"
        src="../../static/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript"
        src="../../static/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript"
        src="../../static/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.video.min.js"></script>
<script>
    // Select all the images with the lazyload class
    const lazyImages = document.querySelectorAll('.lazyload');

    // Create an intersection observer instance
    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                const img = entry.target;
                const src = img.getAttribute('data-src');

                // Load the actual image source
                img.setAttribute('src', src);
                img.classList.remove('lazyload');

                // Stop observing the image once it's loaded
                observer.unobserve(img);
            }
        });
    });

    // Observe each lazy image
    lazyImages.forEach(image => {
        observer.observe(image);
    });
</script>

<!-- script JS  -->
<script src="../../static/js/scripts.min.js"></script>
<script src="../../static/js/script.js"></script>
<script>
    function countNumbers(target, counterId, duration) {
        const counterElement = document.getElementById(counterId);
        const startValue = 0;
        const increment = (target - startValue) / (duration / 10); // Adjust the increment for smoother counting

        let currentValue = startValue;
        const interval = setInterval(() => {
            currentValue += increment;
            if (currentValue >= target) {
                clearInterval(interval);
                currentValue = target;
            }
            counterElement.innerText = Math.floor(currentValue);
        }, 10);
    }

    // Start counting when the element is visible
    function startCountersWhenVisible() {
        const counters = document.querySelectorAll('.value');

        function isInViewport(element) {
            const rect = element.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        function checkCountersVisibility() {
            counters.forEach(counter => {
                if (isInViewport(counter) && !counter.classList.contains('counting')) {
                    const targetValue = parseInt(counter.innerText);
                    counter.innerText = '0'; // Reset counter to start from 0
                    counter.classList.add('counting');
                    countNumbers(targetValue, counter.id, 1000); // Adjust the duration as needed
                }
            });
        }

        window.addEventListener('scroll', function () {
            if (window.requestAnimationFrame) {
                window.requestAnimationFrame(checkCountersVisibility);
            } else {
                checkCountersVisibility();
            }
        });

        checkCountersVisibility();
    }

    startCountersWhenVisible();
</script>
<script>
    function getCurrentDateTime() {
        const currentDateElement = document.getElementById('current-date');
        const currentTimeElement = document.getElementById('current-time');

        const currentDate = new Date();
        const currentDay = currentDate.getDate().toString().padStart(2, '0');
        const currentMonth = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
        const currentYear = currentDate.getFullYear().toString();
        const formattedDate = `${currentDay}.${currentMonth}.${currentYear}`;
        currentDateElement.textContent = formattedDate;

        const currentHours = currentDate.getHours().toString().padStart(2, '0');
        const currentMinutes = currentDate.getMinutes().toString().padStart(2, '0');
        const currentTime = `${currentHours}:${currentMinutes}`;
        currentTimeElement.textContent = currentTime;
    }
    async function getWeatherData() {
        const url = 'https://weatherapi-com.p.rapidapi.com/current.json?q=Sofia';
        const options = {
            method: 'GET',
            headers: {
                'X-RapidAPI-Key': '410c32cad3msh3f4e7db0d8d7fcap12cc72jsn8f865181d51d',
                'X-RapidAPI-Host': 'weatherapi-com.p.rapidapi.com'
            }
        };

        try {
            const response = await fetch(url, options);
            const data = await response.json();
            const weatherInfoElement = document.getElementById('current-weather');
            weatherInfoElement.innerHTML = `${data.current.temp_c}°C`;
        } catch (error) {
            console.error(error);
        }
    }

    function updateClock() {
        getCurrentDateTime();
        getWeatherData();
    }

    getCurrentDateTime();
    getWeatherData();
    setInterval(updateClock, 30000); // Update the clock every second (1000 milliseconds)
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var currentLang = "en"; // Update this value dynamically based on the current page

        var languageOptions = document.querySelectorAll(".language-option");
        languageOptions.forEach(function (option) {
            var lang = option.querySelector(".language-link").getAttribute("data-lang");
            if (lang === currentLang) {
                option.classList.add("active");
            }
        });
    });
</script>


</body>

</html>