<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="utf-8">
    <title>Делта Груп</title>
    <style>
        .contact-info a:hover {

            text-decoration: underline !important;
        }
    </style>
    <style>
        .sub-menu li .email {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            width: 100%; /* Ensure the email spans take up the full width */
        }
        .blurry-header {
            position: relative;
            overflow: hidden;
        }

        .header-content {
            position: relative;
            padding: 20px;
            color: blue; /* Set the text color to blue */
            background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
            backdrop-filter: blur(2px); /* Adjust the blur radius as needed */
        }

        .header-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: inherit;
            filter: blur(2px);
            opacity: 0.3; /* Adjust the opacity value as needed */
            z-index: -1;
        }
    </style>
    <!-- Stylesheets -->
    <!-- bootstrap v3.3.6 css -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <!-- font-awesome css -->
    <link href="../../static/css/font-awesome.css" rel="stylesheet">
    <!-- flaticon css -->
    <link href="../../static/css/flaticon.css" rel="stylesheet">
    <!-- factoryplus-icons css -->
    <link href="../../static/css/factoryplus-icons.css" rel="stylesheet">
    <!-- animate css -->
    <link href="../../static/css/animate.css" rel="stylesheet">
    <!-- owl.carousel css -->
    <link href="../../static/css/owl.css" rel="stylesheet">
    <!-- fancybox css -->
    <link href="../../static/css/jquery.fancybox.css" rel="stylesheet">
    <link href="../../static/css/hover.css" rel="stylesheet">
    <link href="../../static/css/frontend.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
    <!-- switcher css -->
    <link href="../../static/css/switcher.css" rel="stylesheet">
    <link rel='stylesheet' id='factoryhub-color-switcher-css' />
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/settings.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/layers.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/revolution/navigation.css">

    <!--Favicon-->
    <!--    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">-->
    <!--    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">-->
    <link rel="icon" type="image/png" href="../../static/images/icon/maker1.png">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="../static/js/respond.js"></script><![endif]-->
</head>

<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">
<div id="page">


    <!-- topbar -->
    <div id="topbar" class="topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="topbar-left topbar-widgets">
                        <div class="current-date-time">
                            <i class="fa fa-clock-o yellow-icon" aria-hidden="true"></i>
                            <a href="https://www.timeanddate.com/worldclock/" target="_blank">
                                <span id="current-date" class="white-text"></span>
                                <span id="current-time" class="white-text"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 text-center">
                    <div class="topbar-center topbar-widgets">
                        <div id="cargo-office-location-widget-2" class="widget cargo-office-location-widget">
                            <div class="office-location clearfix">
                                <div id="tab-1" class="tab-content">
                                    <ul class="topbar-office text-center">
                                        <li>
                                            <i class="flaticon-telephone" aria-hidden="true"></i> Телефон +35929202137
                                            <span class="space"></span>
                                            <i class="flaticon-web" aria-hidden="true"></i> <a
                                                href="mailto:info@deltagroup.bg" style="color: inherit;">info@deltagroup.bg</a>
                                            <span class="space"></span>
                                            <i class="flaticon-pin" aria-hidden="true"></i> ул. Суходолска 48А
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="topbar-right topbar-widgets text-right" id="weather-info">
                        <div class="current-weather">
                            <i class="fa fa-sun-o yellow-icon" aria-hidden="true"></i>
                            <a href="https://www.timeanddate.com/weather/" target="_blank">
                                <span id="current-weather" class="white-text"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1">
                    <div class="language-switcher">
                        <a href="#" class="language-option" data-lang="bg"style="display: none;">
                            <img src="../../static/images/resources/bg-flag.png" alt="Bulgarian" width="16" height="16" />
                        </a>
                        <a href="../en/terminal-delta.html" class="language-option" data-lang="en">
                            <img src="../../static/images/resources/en-flag.png" alt="English" width="16" height="16" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- topbar end -->

    <!-- masthead -->
    <header id="masthead" class="site-header clearfix">
        <div class="header-main clearfix">
            <div class="container mobile_relative">
                <div class="row">
                    <div class="site-logo col-md-3 col-sm-6 col-xs-6">
                    </div>
                    <div class="col-md-9 col-sm-6 col-xs-6">
                        <div class="site-menu text-right"> <!-- Updated class: text-right -->
                            <nav id="site-navigation" class="main-nav primary-nav nav">
                                <ul class="menu">
                                    <li class="extra-menu-item menu-item-button-link">
                                        <a href="../bg/request-a-quote.html" class="fh-btn btn">Получи Оферта</a>
                                    </li>
                                    <li><a href="../../static/index.html">Начало</a></li>
                                    <li class="has-children">
                                        <a href="" class="dropdown-toggle">Транспортни Услуги</a>
                                        <ul class="sub-menu">
                                            <li><a href="../bg/terminal-delta.html">Пристанищни операции / Контейнерен Терминал Делта</a></li>
                                            <li><a href="../bg/ocean-freight-forwarding.html">FCL / LCL Ocean Freight & NVOCC</a></li>
                                            <li><a href="../bg/inland-transport.html">Сухопътен Транспорт</a></li>
                                            <li><a href="../bg/warehousing.html">Митническо посредничество и складиране</a></li>
                                            <li><a href="../bg/insurance.html">Застраховка</a></li>
                                            <li><a href="../bg/cargo-tracking.html">Проследяване на пратката</a></li>
                                            <li class="has-children">
                                                <a class="dropdown-toggle">Контакти</a>
                                                <ul class="sub-menu side-dropdown" style="margin-top: -20%;">
                                                    <li>
                                                        <span>Телефони:</span><br>
                                                        <span>+359 2 9202137</span><br>
                                                        <span>+359 2 9631223</span><br>
                                                        <span>+359 2 9634369</span><br>
                                                        <span>Fax: +359 2 9202138</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="../bg/about-us.html">За Нас</a></li>
                                    <li><a href="../bg/contact.html">Свържете Се С Нас</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <a href="#" class="navbar-toggle" id="navbarToggle">
                <span class="navbar-icon">
                    <span class="navbars-line"></span>
                </span>
                </a>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var parentMenuItems = document.querySelectorAll(".menu-item-has-children");

                parentMenuItems.forEach(function (item) {
                    item.addEventListener("click", function (e) {
                        e.preventDefault();
                        this.classList.toggle("active");
                        var subMenu = this.querySelector(".sub-menu");
                        subMenu.classList.toggle("active");
                    });

                    var subMenuItems = item.querySelectorAll(".sub-menu li a");
                    subMenuItems.forEach(function (subMenuItem) {
                        subMenuItem.addEventListener("click", function (e) {
                            // Remove the following line if you want the sub-menu to collapse after clicking a sub-menu item
                            e.preventDefault();

                            // Retrieve the href attribute of the clicked sub-menu item
                            var href = this.getAttribute("href");

                            // Navigate to the specified page
                            window.location.href = href;
                        });
                    });
                });

                var navbarToggle = document.querySelector("#navbarToggle");
                var mobileNav = document.querySelector("#primary-mobile-nav");
                var offCanvasLayer = document.querySelector("#off-canvas-layer");
                var closeCanvasMobilePanel = document.querySelector(".close-canvas-mobile-panel");

                navbarToggle.addEventListener("click", function (e) {
                    e.preventDefault();
                    mobileNav.classList.toggle("active");
                    offCanvasLayer.classList.toggle("active");
                });

                closeCanvasMobilePanel.addEventListener("click", function (e) {
                    e.preventDefault();
                    mobileNav.classList.remove("active");
                    offCanvasLayer.classList.remove("active");
                });
            });
        </script>
    </header>



    <!-- masthead end -->


    <!--Page Header-->
    <div class="page-header title-area blurry-header">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="header-content">
                            <div class="header-overlay"></div>
                            <h1 class="page-title" style="color: blue;">FCL / LCL Ocean Freight & NVOCC</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="../../static/index.html"><span>Начало</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>FCL / LCL Ocean Freight & NVOCC</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->

    <!--FCL / LCL Ocean Freight & NVOCC-->
    <section class="aboutsec-2 secpaddbig">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-6">
                    <div class="abotinforgt">
                        <div class="fh-section-title clearfix text-left version-dark paddbtm30">
                            <h2>FCL / LCL Ocean Freight & NVOCC</h2>
                        </div>
                        <div class="about-text">
                            <p><strong>FCL- пълен контейнер</strong><br>
                                <strong>LCL- групажен контейнер</strong></p>
                            <div class="about-text">
                                <p><strong>FCL - транспорт на комплектни товари в пълен (цял) контейнер</strong><br>
                                    <strong>LCL - транспорт на малки пратки в групажни контейнери</strong></p>
                                <p>Въвеждането на контейнерите като средство за мултимодален транспорт преди 45 години
                                    революционизира морската транспортна индустрия и сега основният световен товаропоток
                                    се извършва в различни по своето предназначение 20’/40’/45’ голямотонажни контейнери,
                                    чрез специализирани кораби–контейнеровози, някои от които имат капацитет да превозват
                                    над 14000 TEU ( TEU = 20-футов контейнерен еквивалент), през специализирани пристанища-
                                    контейнерни мегатерминали и използвайки специализирани камиони и жп вагони за
                                    предварителен или последващ сухопътен транспорт.
                                    <br>
                                    <br>Специалистите от <strong>Делта Груп ®</strong> ще ви информират за
                                    най-подходящият начин за транспорт, съобразен с изискванията ви: за време на
                                    доставка, маршрут или разходи за транспорт.</p>
                                <p>Ние можем да ви предложим транспорт „от врата до врата” при пълен контрол от
                                    мястото на приемане на стоката до мястото на нейното предаване.</p>
                                <p>Главни морски пристанища обслужващи контейнерен транспорт по внос и износ:</p>
                                <br>
                                <p><strong>Европа</strong>
                                    <br>Антверпен, Ротердам, Хамбург, Бремерхафен, Феликстоу, Тилбъри, Валенсия,
                                    Барселона, Алджесирас, Виго, Лейшос, Ла Валета, Генуа, Ла Специя, Неапол, Равена,
                                    Джоя Тауро, Таранто, Марсилия, Фос, Льо Авр, Солун, Пирея, Волос, Рига, Клайпеда,
                                    Ст. Петербург, Хелзинки, Котка, Гьотеборг, Архус</p>
                                <p><strong>Далечен Изток</strong>
                                    <br>Токио, Осака, Кобе, Нагоя, Йокохама, Шимизу, Хаката, Бусан (Пусан), Восточни</p>
                                <p><strong>Китай</strong>
                                    <br>Хонг Конг, Шанхай, Нингбо, Ксинганг/Тианджин, Ксиамен, Шенжен, Гуангджоу,
                                    Кингдао, Далиан, Джиангмен, Чиуан, Янтиан</p>
                                <p><strong>Югоизточна Азия</strong>
                                    <br>Сингапур, Порт Кланг, Киилунг, Каошиунг, Бангкок, Лаем Чабанг, Хо Ши Мин,
                                    Хайфонг, Манила, Джакарта, Сурабая, Панджанг, Палембанг, Семаранг</p>
                                <p><strong>Южна Азия</strong>
                                    <br>Мумбай, Нава Шева, Кошин, Мадрас, Калкута, Коломбо, Читагонг, Карачи, Бандар Абас</p>
                                <p><strong>Близък изток</strong>
                                    <br>Дубай, Джеда, Кувейт, Басра, Акаба, Салала, Ходейда, Дамам, Порт Судан, Хайфа,
                                    Ашдод, Латакиа, Бейрут, Лимасол</p>
                                <p><strong>Северна Африка</strong>
                                    <br>Порт Саид, Александрия, Дамиета, Триполи, Тунис, Скикда, Алжир, Казабланка</p>
                                <p><strong>Екваториална Африка</strong>
                                    <br>Момбаса, Дар ес Салам, Дуала, Абиджан, Лагос</p>
                                <p><strong>Южна Африка</strong>
                                    <br>Кейптаун, Дърбан, Порт Елизабет, Порт Луис, Томасина, Реюниън</p>
                                <p><strong>САЩ & Канада</strong>
                                    <br>Халифакс, Торонто, Монреал, Ню Йорк, Бостън, Балтимор, Норфолк, Чарлстън,
                                    Савана, Маями, Хюстън, Фрийпорт, Порт Евърглейдс, Джаксънвил, Ню Орлиънс,
                                    Лос Анджелис/Лонг Бийч Сан Франциско, Окланд, Сиатъл, Ванкувър</p>
                                <p><strong>Мексико & Централна Америка</strong>
                                    <br>Веракруз, Алтамира, Манзанило, Пуерто Лимон, Панама, Сантос Томас де Кастиля,
                                    Пуерто Кортес, Кауседо, Кингстън, Сан Хуан, Пуерто Кабело, Ла Гуайра</p>
                                <p><strong>Южна Америка</strong>
                                    <br>Рио де Жанейро, Сантос, Итаджай, Витория, Сао Франсиско до Сул, Ресифе,
                                    Паранагуа, Буенос Айрес, Форталеза, Гуаякил, Валпарайсо, Салвадор,
                                    Буена Вентура, Картагена, Сан Висенте, Монтевидео, Каляо, Рио Гранде</p>
                                <p><strong>Австралия & Нова Зеландия</strong>
                                    <br>Мелбърн, Сидни, Аделаида, Фримантъл, Бризбейн, Оукланд, Уелигнтън</p>
                                <p><strong>Черноморски регион & Турция</strong>
                                    <br>Варна, Бургас, Констанца, Одеса, Новоросийск, Поти, Истанбул, Измир, Мерсин,
                                    Гемлик</p>
                                <br><p>Имате товар и се нуждаете от навло за транспорт или просто съвет? - за нас
                                ще бъде удоволствие да сме ви полезни.</p>
                                <br> <p><strong>И много други...</strong>
                            </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--About us end-->


    <!--footer sec-->
    <div class="footer-widgets widgets-area">
        <div class="contact-widget">
            <div class="container">
                <div class="row">
                    <div class="contact col-md-4 col-xs-12 col-sm-12">
                        <i class="flaticon-signs"></i>
                        <p>Адрес: София, България</p>
                        <h4>ул. Суходолска 48-А</h4>
                    </div>
                    <div class="contact col-md-4 col-xs-12 col-sm-12">
                        <i class="flaticon-phone-call"></i>
                        <p>Телефон:</p>
                        <h4>+359 2 9202137</h4>
                    </div>
                    <div class="contact col-md-4 col-xs-12 col-sm-12">
                        <i class="flaticon-clock-1"></i>
                        <p>Работно време:</p>
                        <h4>Пон - Пет: 8:30 - 17:00</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-sidebars">
            <div class="container">
                <div class="row">
                    <div class="footer-sidebar footer-1 col-xs-12 col-sm-6 col-md-3">
                        <div class="widget widget_text">
                            <h4 class="widget-title">Относно Делта Груп</h4>
                            <div class="textwidget">
                                <p>Делта Груп ® е запазена търговска марка на Делта Транспорт ЕООД.
                                    Делта Транспорт ЕООД е създадена през 1996, a през 1999 година беше
                                    създадена нова фирма - Делта Шипинг ЕООД, разполагащ със собствени, специализирани транспортни
                                    средства, подемна техника, склад и открит терминал за съхранение на контейнери.</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-sidebar footer-2 col-xs-12 col-sm-6 col-md-3">
                        <div class="widget widget_contact_info">
                            <h4 class="widget-title">Телефони:</h4>
                            <div class="contact-info">
                                <i class="fa fa-phone"></i> +359 2 9202137<br>
                                <i class="fa fa-phone"></i> +359 2 9631223<br>
                                <i class="fa fa-phone"></i> +359 2 9634369<br>
                                <i class="fa fa-fax"></i> Fax: +359 2 9202138
                            </div>
                            <h4 class="widget-title"></h4>
                            <div class="contact-info">
                                <a href="https://deltagroup.bg/" target="_blank"
                                   style="color: #fff; text-decoration: none;">www.delta-transport.eu</a><br>
                                <a href="https://deltagroup.bg/" target="_blank"
                                   style="color: #fff; text-decoration: none;">www.deltagroup.bg</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-sidebar footer-3 col-xs-12 col-sm-6 col-md-6">
                        <div class="widget widget_contact_info">
                            <h4 class="widget-title">Имейли:</h4>
                            <div class="contact-info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <i class="fa fa-envelope"></i> <a href="mailto:info@deltagroup.bg" style="color: #fff;">info@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:sales@deltagroup.bg" style="color: #fff;">sales@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:export@deltagroup.bg" style="color: #fff;">export@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:import@deltagroup.bg" style="color: #fff;">import@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:terminal@deltagroup.bg" style="color: #fff;">terminal@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:account@deltagroup.bg" style="color: #fff;">account@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:documentation@deltagroup.bg" style="color: #fff;">documentation@deltagroup.bg</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:trucks@delta-transport.eu" style="color: #fff;">trucks@delta-transport.eu</a>
                                    </div>
                                    <div class="col-md-6">
                                        <i class="fa fa-envelope"></i> <a href="mailto:info@delta-transport.eu" style="color: #fff;">info@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:sales@delta-transport.eu" style="color: #fff;">sales@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:export@delta-transport.eu" style="color: #fff;">export@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:import@delta-transport.eu" style="color: #fff;">import@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:terminal@delta-transport.eu" style="color: #fff;">terminal@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:account@delta-transport.eu" style="color: #fff;">account@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:documentation@delta-transport.eu" style="color: #fff;">documentation@delta-transport.eu</a><br>
                                        <i class="fa fa-envelope"></i> <a href="mailto:trucks@deltagroup.bg" style="color: #fff;">trucks@delta-transport.eu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--footer sec end-->

    <!--copyright sec-->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="footer-copyright col-md-6 col-sm-12 col-sx-12">
                    <div class="site-info">Авторско право @ 2023 <a href="#">Delta Group</a>, Всички права запазени</div>
                </div>
            </div>
        </div>
    </footer>
    <!--copyright sec end-->
</div>
<!--End pagewrapper-->


<!--primary-mobile-nav-->
<div class="primary-mobile-nav header-v1" id="primary-mobile-nav" role="navigation">
    <a href="#" class="close-canvas-mobile-panel">×</a>
    <ul class="menu">
        <li><a href="../../static/index.html">Начало</a></li>
        <li class="menu-item-has-children">
            <a href="#">Транспортни услуги</a>
            <ul class="sub-menu">
                <li><a href="../bg/terminal-delta.html">Пристанищни операции - Контейнерен терминал Делта</a></li>
                <li><a href="../bg/ocean-freight-forwarding.html">Морски товарен транспорт FCL / LCL и NVOCC</a></li>
                <li><a href="../bg/inland-transport.html">Вътрешен транспорт</a></li>
                <li><a href="../bg/warehousing.html">Митническо посредничество и складиране</a></li>
                <li><a href="../bg/insurance.html">Застраховане</a></li>
                <li><a href="../bg/cargo-tracking.html">Преглед на товара</a></li>
            </ul>
        </li>
        <li><a href="../bg/about-us.html">Кои сме ние</a></li>
        <li><a href="../bg/contact.html">Свържете се с нас</a></li>
        <li class="extra-menu-item menu-item-button-link">
            <a href="../bg/request-a-quote.html" class="fh-btn btn">Получете оферта</a>
        </li>
        <li class="language-switcher">
            <a href="#" class="language-option" data-lang="bg" style="display: none;">
                <img src="../../static/images/resources/bg-flag.png" alt="Bulgarian" width="16" height="16" />
            </a>
            <a href="../en/terminal-delta.html" class="language-option" data-lang="en">
                <img src="../../static/images/resources/en-flag.png" alt="English" width="16" height="16" />
            </a>
        </li>
    </ul>
</div>
<div id="off-canvas-layer" class="off-canvas-layer"></div>

<!--primary-mobile-nav end-->

<!--Scroll to top-->
<a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>



<!-- jquery Liabrary -->
<script src="../../static/js/jquery-1.12.4.min.js"></script>
<!-- bootstrap v3.3.6 js -->
<script src="../../static/js/bootstrap.min.js"></script>
<!-- fancybox js -->
<script src="../../static/js/jquery.fancybox.pack.js"></script>
<script src="../../static/js/jquery.fancybox-media.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<!-- owl.carousel js -->
<script src="../../static/js/owl.js"></script>
<!-- counter js -->
<script src="../../static/js/jquery.appear.js"></script>
<script src="../../static/js/jquery.countTo.js"></script>
<!-- validate js -->
<script src="../../static/js/validate.js"></script>
<!-- switcher js -->
<script src="../../static/js/switcher.js"></script>

<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<script src="../../static/js/gmap.js"></script>
<script src="../../static/js/map-helper.js"></script>

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="../../static/js/revolution/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="../../static/js/revolution/extensions/revolution.extension.video.min.js"></script>

<!-- script JS  -->
<script src="../../static/js/scripts.min.js"></script>
<script src="../../static/js/script.js"></script>
<script>
    function getCurrentDateTime() {
        const currentDateElement = document.getElementById('current-date');
        const currentTimeElement = document.getElementById('current-time');

        const currentDate = new Date();
        const currentDay = currentDate.getDate().toString().padStart(2, '0');
        const currentMonth = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
        const currentYear = currentDate.getFullYear().toString();
        const formattedDate = `${currentDay}.${currentMonth}.${currentYear}`;
        currentDateElement.textContent = formattedDate;

        const currentHours = currentDate.getHours().toString().padStart(2, '0');
        const currentMinutes = currentDate.getMinutes().toString().padStart(2, '0');
        const currentTime = `${currentHours}:${currentMinutes}`;
        currentTimeElement.textContent = currentTime;
    }

    async function getWeatherData() {
        const url = 'https://weatherapi-com.p.rapidapi.com/current.json?q=Sofia';
        const options = {
            method: 'GET',
            headers: {
                'X-RapidAPI-Key': '410c32cad3msh3f4e7db0d8d7fcap12cc72jsn8f865181d51d',
                'X-RapidAPI-Host': 'weatherapi-com.p.rapidapi.com'
            }
        };

        try {
            const response = await fetch(url, options);
            const data = await response.json();
            const weatherInfoElement = document.getElementById('current-weather');
            weatherInfoElement.innerHTML = `${data.current.temp_c}°C`;
        } catch (error) {
            console.error(error);
        }
    }

    function updateClock() {
        getCurrentDateTime();
        getWeatherData();
    }

    getCurrentDateTime();
    getWeatherData();
    setInterval(updateClock, 30000); // Update the clock every second (1000 milliseconds)
</script>

</body>

</html>